# @package _global_
hydra:
  run:
    dir: ./results/${now:%Y-%m-%d_%H-%M-%S}

# データセットと出力パス
repository_root: null
exp_name: celeba_flow

seed: 42
resume: null

# データセット
train:
  dataset: 
    name: DatasetDumpedFeatures
    args:
      h5_path: ${repository_root}/example/celeba/dump/features.h5
      split: 'train'
      enable_cache: False
      target_type: ['landmark']
  batch_size: 128
  num_workers: 4
val:
  dataset: 
    name: DatasetDumpedFeatures
    args:
      h5_path: ${repository_root}/example/celeba/dump/features.h5
      split: 'val'
      enable_cache: False
      target_type: ['landmark']
  batch_size: 128
  num_workers: 4


# モデル例: 属性予測（attr）
model:
  name: CoTFlow
  args: 
    num_bases: 1048
    symmetry_dim: 48
    latent_dim: 1152
    flow_layers: 24
    flow_hidden_dim: 1024
    eps_p: 1e-3
    eps_q: 1e-1
    scale_map: "exp_clamp"

autoencoder_ckpt_dir: ${repository_root}/example/celeba/pretrained/autoencoder

optimizer:
  lr: 3e-4
  weight_decay: 1e-5

# 学習
trainer:
  max_epochs: 100
  gpus: 1
  precision: 32
  log_every_n_steps: 10
  val_check_interval: 1.0

# wandb
wandb:
  project: cotflow_celeba
  name: ${exp_name}
