# @package _global_
hydra:
  run:
    dir: ./results/${now:%Y-%m-%d_%H-%M-%S}

# データセットと出力パス
repository_root: null
exp_name: celeba_predictor_landmark

seed: 42
resume: null

# データセット
train:
  dataset: 
    name: DatasetCelebA
    args:
      path: ${repository_root}/dataset
      split: 'train'
      image_size: [218, 178]
      enable_cache: false
  batch_size: 128
  num_workers: 4
val:
  dataset: 
    name: DatasetCelebA
    args:
      path: ${repository_root}/dataset
      split: 'valid'
      image_size: [218, 178]
      enable_cache: false
  batch_size: 128
  num_workers: 4


# モデル例: ランドマーク予測（landmark）
model:
  name: CelebALandmarkPredictor
  args: {}
  task: landmark  # 'attr', 'identity', 'bbox', 'landmarks' から選択

autoencoder_ckpt_dir: ${repository_root}/example/celeba/pretrained/autoencoder

optimizer:
  lr: 1e-3
  weight_decay: 1e-5

# 学習
trainer:
  max_epochs: 100
  gpus: 1
  precision: 32
  log_every_n_steps: 10
  val_check_interval: 1.0

# wandb
wandb:
  project: cotflow_celeba
  name: ${exp_name}
